/* ----------------------
BACKGROUND COLOR SECTION
--------------------------  */
/* header */
.ms-bg-blue {
    background: #2c3e50;
}

.ms-bg-water-green {
    background: #1abc9c;
}

.ms-bg-blue2 {
    background-color: #3a546d;
}

.ms-bg-foot {
    background: #2c3e50;
}

/* ---header */

/* main */


/* -------------
TYP 
----------------*/

.ms-color-blue {

    color: #2c3e50;
    ;

}

ul {
    list-style: none;
}


/* -------------
IMG
----------------*/

.ms-img {
    height: 250px;
}


/*---------
 LINE-STAR 
 -----------*/


.ms-line {
    width: 50px;
    height: 3px;
    border-radius: 2px;
}

.ms-md-line {
    width: 80px;

}

.ms-contact input {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.form-floating textarea {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}